include README.md
include ISTRUZIONI.md
include pyproject.toml
include setup.py
include release.sh
recursive-include docs *.md
recursive-include docs/api *.md
recursive-include docs/papers *.pdf
recursive-include graphs *.md
recursive-include include *.h
recursive-include src *.c *.h
recursive-include python *.c
recursive-include results *.md
recursive-include tests *.c *.py
